

   
   
   .remaipagr:hover{
	color:white;
	 transition: all .2s ease-in-out;
	 background-color:#330033;}
	

.remaipagr:hover{background-color:#996633;/*hover spalva*/

/*background-color:#330033;*/
transform: scale(1.3);
}

	



			

		

					



	



.remaipagr{
	background-color:red;
	padding:0.2%;
	margin:0.26%;
	
	text-align:center;
	width:14.9%;

	float:left;

}

			

 
 
	 



	.
	
	
	










	
	

	
	
	
	
	