html, body

{		
    height: 100%;
	 font-size:100%;
}

/*kainorastis*/
 .flip {
	 
display: inline-block;
width:62%;
    font-size: 100%;
    padding: 20% 10% 20% 10%;
    text-align: center;
    background-color: #330033;
    color: white;
    border: solid 1% #a6d8a8;
     margin: 0% 0 0 2.5%;
}
 .flip:first-child {
   margin: 8% 0 0 2.5%;
}

#panel, #panel2, #panel3{



    font-size: 100%;
    padding: 1%;
    text-align: center;
    background-color: black;
    color: white;
    border: solid 1px red;
    margin: 1.45% 0 0% 24%;
 
width:72%;
    display: none;
}

#lol{
	height:0px;
 margin: 0 0 0% 0%;
width:100%;
background-color: blue;}

#lol2{
	 margin: 0% 0 0 2.5%;
     
height:0px;
width:18.5%;
background-color: red;}
/*kainorastis*/
#test{
	background-color:#330033;
}



#a5 img:hover{background-color:#330033;}
body{
	
color:;
margin: 0 auto;
   }


.remai:hover{background-color:#996633;/*hover spalva*/
color:white;
	 transition: all .2s ease-in-out;
	 transform:  scale(1.11);
/*background-color:#330033;*/
}

#atsiranda{
	position:absolute;
left:43%;
top:12%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}

#atsiranda img{
	
	width:100%;}
/* Chrome, Safari, Opera */
@-webkit-keyframes example {
0%   {opacity: 0.0;}
    25%  {opacity: 0.0;}
    30%  {opacity: 0.1;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes example {
0%   {opacity: 0.0;}
    25%  {opacity: 0.0;}
    30%  {opacity: 0.1;}
    100% {opacity: 1;}
}
	
	
	
	
	#logo{
		position:absolute;
		left:40px;
		top:0.9em ;} 
 #pav{margin:-0.05em 0em}
#header{
	postion:relative;
	text-align:center;

	margin: 0 auto;
	background-color:#330033;
	height:6.5em;
	}
	


				#nav p {
					margin:0;
					padding:2px;}
			
				#wrap{
						/*	border-top: 1px solid #BEA6D6; */
border-bottom: 1px solid #1f5065; 		 /*Visu remu spalva*/

					min-width:70em;
					width:100%;
					height:2.0em;
					margin:0;
					z-index:99;
					position:relative;
					background-color:#996633;}/*Spalva linkas juostas be meniu*/

						
				.navbar{
					height:2em;
					padding: 0;
					margin: 0;
					position: absolute; 
					
					}
					
				.navbar li 	{
					height: auto;
					width: 10em;
					float: left;
					text-align:center;
					list-style:none;
					font: normal 1em Arial, Verdana, Helvetica;  
					padding: 0;
					margin: 0;
					background-color:#996633;/*Kur yra mygtukai spalva*/
					}
					
				.navbar a	{
					padding:0.45em 0;
			border-right: 1px solid black;
		
					text-decoration: none; 
					color: white; 
					display: block;
					}

				.navbar li:hover, .navbar a:hover {/*gadin sits*/
					background-color:#330033;
					} 
					
				.navbar li ul 	{
						display: none; 
						height: auto;									
						margin: 0; 
						padding: 0;	
						}		
						
				.navbar li:hover ul 	{
						 display: block;
						 }
						
				.navbar li ul li {background-color:#996633;
				
				} 
					 
				 .navbar li ul li a {overflow:hidden;
						/*border-left: 1px solid #1f5065; 
						border-right: 1px solid #1f5065; 
						border-top: 1px solid #74a3b7; 
						border-bottom: 1px solid #1f5065;*/ 
						}
						
				.navbar li ul li a:hover	{background-color: #330033;}
	

#konteineris{
    min-width:63em;
				background-image: url("images/fonas.jpg");
	font: normal 1em Arial, Verdana, Helvetica;  
	background-color:white;
	background-size: 100% 200%;
    background-repeat: no-repeat;
	background-attachment: fixed;
	min-width:63em;
	position:relative;
	width:100%;
	overflow:hidden;}
			

	
	
		
				
			
		
#footer p{
	color:white;
	padding:0.5em;
	margin:0;}
#footer{
		padding:0;
		text-align:center;
		width:100%;
		position:fixed;
		bottom:0;
		height:2em;
	background-color:#330033;
		background-size: 100%  100%;
		background-repeat: no-repeat;}

					#loginas{
						float:right;
					}


		
#test:before {content:"Foto";}
#test:hover:before {content:"Austina"; }

 #test2:before {content:"Filmavimas"; }
 #test2:hover:before {content:"Raimis"; }
 
 #test3:before { content:"Medijos";}
 #test3:hover:before {content:"Deividas";}				
    
	

	#a5{width:100%;
	  margin: 28% 2% 0%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
#a5 img{
	width:99%;
/*min-width:220px;*/
	background-color:rgb(251, 246, 253);
									
padding-color:red;										
}

.remai{
	padding:0.2%;
	margin:0.26%;
	text-align:center;
	width:14.9%;
	background-color:white;
	float:left;

}


			#straip{ 
	background-image: url("images/fonas.jpg");
			 /*height:60em;*/
			margin:0% auto;
				float:left;
				width:100%;

				background-size: 100% 200%;
				background-repeat: no-repeat;
				background-attachment: fixed;}
		
			#straip li{margin:auto 70px;}	
 
h1 {
text-align: center;}
	#straip li{margin:auto 70px;}
	#straip h4{margin:auto 50px;}

 
 
	 


	 	 .rutuliukai2{
		
width: 11.9em;
	height: 11.9em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("Images/raimisR.png") no-repeat;
	margin: 8px auto;
	/*box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    /*border: 3px solid ;*/
	}
	 
	 .rutuliukai{
width: 11.9em;
	height: 11.9em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
		margin: 8px auto;
	background: url("Images/austappng.png") no-repeat;
	/*box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

    /*border: 3px solid ;*/
	}
.rutuliukaiisore p{

	padding-bottom:25px;
	margin:-15px 0}
	
	.rutuliukaiisore{
			padding-top:20px;
		
	float: left;
width: 25%;

	background-color:;
margin:0 3%;
    border: 3px solid white;
}

 #komanda{
	
	  margin:0 auto;
	  text-align:center;
	
float:left;
width:100%;
margin:0 auto;
	background-color:white;}


	}
.rutuliukai, a:hover {
					background-color:black;
					} 
					
	
		#austinat {	
	
		padding:0px;
	  margin-left:2.5%;
	  text-align:center;
	  clear:both;
float:left;
width:40%;
	background-color:}
				
#austinat p{
	margin:1.5%;
	padding:0px;
	color:black;

	text-align:left;

}				


#austinat h1{
color:white;}
	
			#logoah{
				margin-top:5%;
				margin-bottom:5%;
		margin-left:7%;
			background-color:white;
	text-align:center;
		}
	
		#logoa{
			margin-top:1%;
			width:30%;
			background-color:white;
	text-align:center;
		}
	
	#pagrtekstas 	{			
			
	  margin:0 auto;
	  text-align:center;
	  clear:both;
float:left;
width:38%;
	background-color:}
				
#pagrtekstas p{
	color:black;
	text-align:left;
	padding-bottom:5%;
	padding-left:7%;
	padding-right:4%;
}				

#pagrtekstas h1{
color:white;}

#listas{
	float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:4%;
	padding-right:4%;
	padding-bottom:0%;} 
	
						#ausframe{ 
width:230%;
height: 190px;
}
#avideo{
	
		float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:1%;
	padding-right:4%;
	padding-bottom:0%;
		
	}
			#stasciasf img:hover{background-color:#330033;/*hover spalva*/
transform:  scale(1.1);
transition: all .4s ease-in-out;
		}
#stasciasf{
	
	padding-bottom:3%;
	width:57%;
	float:left;
	padding-left:4.5%;
	margin-top:4.5%;
}

#stasciasf img{
	width:22%;
	padding:0.3%;
}
.spin img
{
	padding:2%;
	float:left;
	width:100%;}
.spin
{padding:0.3%;
	float:left;
	width:32%;}
.spin{
	

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.spin:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


	

	
	#austina3 {
		margin-top:0%;
		padding-left:6%;
		
	
padding-bottom:7%;

	}

	
	
	#listas li{

}


	 
	 #aprasas2{

	  clear:both;
float:left;
width:100%;

	 background-color:white;}
					.rutuliukaiisore2 img {
				
width: 100%;
	}	
					.rutuliukaiisore2 {
			
		text-align:center;
	float: left;
width: 13.2%;



background-color:white;

margin:60px  0 50px 1.5%;
					border: 3px solid white;	}	

					#aprasas{

	  clear:both;
float:left;
width:100%;

	 background-color:#996633;}

					.rutuliukaiisore2 img {
				
width: 100%;
	}	
					.rutuliukaiisore2 {
			
		text-align:center;
	float: left;
width: 13.2%;



background-color:white;

margin:60px  0 50px 1.5%;
					border: 3px solid white;	}	
					
					.rutuliukaiisore2 h3
{
			
	margin: -10px 0}
	
	#kt{
		margin-right:5%;
		padding-top:20px;}
				

	 .rutuliukai2:hover{background-color:#330033;}
		.rutuliukai:hover	{background-color:#330033;}
	.rutuliukaiisore2:hover	{border-color:#330033;}
	
.baltast{color:white;}
	
	.kontaktaih2{
		color:white;
	margin-top:2%;
	text-align:left;
	
	padding-left:30px;
	}
	
		.kontaktaih img{
	
				padding-left:30px;
width:1%;	
		float:left;
		}
	
		.kontaktaih{

		color:white;
	text-align:left;


	}
	 #kontaktai{

	  clear:both;
float:left;
width:100%;
background-color:#330033;

	}
	
	
	
	#kontaktail{
		width:9%;
		float:right;
	}
	
		/*krikstynu fotkiu setingai*/
	


	
.remai2:hover{
	
	color:white;
	 transition: all .2s ease-in-out;
	 background-color:#996633;
	 /*background-color:#996633;/*hover spalva*/

transform:  scale(1.1);
	 }



.remai2{
	color: black;
	padding:0.2%;
	margin:0.26%;
	margin-bottom:;
	text-align:center;
	width:14.7%;
	background-color:white;
	float:left;

}

#remai2 img{
	width:100%;
	height:12px;
/*min-width:220px;*/
	background-color:rgb(251, 246, 253);
										padding:0.3%;
padding-color:red;										
margin:1% 0.1%  -0.1%}

#a6{width:100%;
background-color:red;

	  margin: 2% 0 8.3% 3% ;
	 	}

#a6 img{
	width:285px;
	height:12px;
/*min-width:220px;*/

										padding:0.3%;
padding-color:red;										
margin:1% 0.1%  -0.1%}

	
#knuotraukas{width:100%;
             
             
	  margin: 3% 0 0% 3% ;
}

	#atsiranda img{
	
	width:100%;}
	#atsiranda{
	position:absolute;
left:45%;
top:20%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}



@media only screen and (min-width: 0px) and (max-width: 1300px) {


					#a5{width:100%;
	  margin: 21% 2% 3%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
	
	#a5 h4 {margin: 0 12% 0;}
	#a6 h4 {margin: 0 12% 0;}

}

	
				@media only screen and (max-width: 1366px) {
 					
.kontaktaih img{
	margin-top:0.2%;'
	
	
				padding-left:30px;
width:1%;	
		float:left;
		}
					#a5{width:100%;
	  margin: 43% 2% 0%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
					
					.rutuliukaiisore2 {
			height:20em;
		text-align:center;
	float: left;
width: 22.5%;
min-width:13.8em;
background-color:white;

margin:1%  0 50px 1.5%;
					border: 3px solid white;	}	
.rutuliukaiisore2 h3
{
	
	margin: -10px 0}
#pagrtekstas{
	text-align:center;
	width:97.5%;}
	#atsiranda img{
	
	width:70%;}
	#atsiranda{
	position:absolute;
left:45%;
top:15%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}

#stasciasf{
	
	padding-bottom:5%;
	width:100%;
	float:left;
	padding-left:6.5%;
	margin-top:4.5%;
}

#stasciasf img{
	width:21.5%;
	padding:0.3%;
}
.spin img
{
	padding:2%;
	float:left;
	width:100%;}
.spin
{padding:0.3%;
	float:left;
	width:32%;}
.spin{
	

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.spin:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


	

	
	#austina3 {
		margin-top:-2%;
		padding-left:6%;
		
	
padding-bottom:7%;

	}
	#listas{
	float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:7%;
	padding-right:4%;
	padding-bottom:0%;} 
	
	

					
					
					#a5{width:100%;
	  margin: 21% 2% 3%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
	}









@media only screen and (max-width: 1980px) {
#atsiranda img{
	
	width:100%;}
	#atsiranda{
	position:absolute;
left:45%;
top:20%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}


}


@media only screen and (max-width: 1300px) {
	
	
						.rutuliukaiisore2 {
			height:18em;
		text-align:center;
	float: left;
width: 13%;
min-width:13.8em;
background-color:white;

margin:60px  0 50px 17px;
					border: 3px solid white;	}	
.rutuliukaiisore2 h3
{
	
	margin: -10px 0}
#pagrtekstas{

	text-align:center;
	width:97.5%;}
}
@media only screen and (max-width: 1024px) {	
#ausframe{ 
width:210%;
}






}
			@media only screen and (min-width: 600px) and (max-width:1300px) {
                    
												#a5{width:100%;
	  margin: 2% 2% 3%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
						
							
							
							.kontaktaih img{
	margin-top:0.2%;'
	
	
				padding-left:30px;
width:1%;	
		float:left;
		}
					#a5{width:100%;
	  margin: 43% 2% 0%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
					
						#a5{width:100%;
	  margin: 43% 2% 0%  2.5% ;
	padding-bottom:14%;
	/* background-color:red;*/}
					
					.rutuliukaiisore2 {
			height:20em;
		text-align:center;
	float: left;
width: 22.5%;
min-width:13.8em;
background-color:white;

margin:1%  0 50px 1.5%;
					border: 3px solid white;	}	
.rutuliukaiisore2 h3
{
	
	margin: -10px 0}
#pagrtekstas{
	text-align:center;
	width:97.5%;}
	#atsiranda img{
	
	width:100%;}
	#atsiranda{
	position:absolute;
left:45%;
top:17%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}

#stasciasf{
	
	padding-bottom:5%;
	width:100%;
	float:left;
	padding-left:6.5%;
	margin-top:4.5%;
}

#stasciasf img{
	width:21.5%;
	padding:0.3%;
}
.spin img
{
	padding:2%;
	float:left;
	width:100%;}
.spin
{padding:0.3%;
	float:left;
	width:32%;}
.spin{
	

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.spin:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


	

	
	#austina3 {
		margin-top:-2%;
		padding-left:6%;
		
	
padding-bottom:7%;

	}
	#listas{
	float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:7%;
	padding-right:4%;
	padding-bottom:0%;} 
	
	

}

				}
				@media only screen and (min-width: 1366px) and (max-width: 1919px) {	#atsiranda img{
	
	width:80%;}
	#atsiranda{
	position:absolute;
left:50%;
top:20%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}

					#ausframe{ 
width:%;
}

	#listas{
	float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:7%;

	padding-bottom:0%;} 

}
				@media only screen and (min-width: 1301px) and (max-width: 1366px) {
					#ausframe{ 
width:300%;
}

	#listas{
	float:left;
	text-align:left;
	margin-top:6.5%;
	padding-left:7%;

	padding-bottom:0%;} 
					
				#atsiranda img{
	
	width:80%;}
	#atsiranda{
	position:absolute;
left:50%;
top:10%;
 transform:translate(-50%, -50%)
	margin:0%;
padding:0%;
text-align:center;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 7s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 7s;
}
	
					
				}